.infoContainer {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.box1, .box2, .box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  box-shadow: 10px 10px 25px 10px rgb(68, 205, 50);
  border-radius: 10px 25%;
}

.box1 p, .box2 p, .box3 p {
  font-size: 4em;
  color: rgb(68, 205, 50);
}


@media screen and (max-width: 530px) {
   .infoContainer{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .box1 p, .box2 p, .box3 p {
    font-size: 3em;
    color: rgb(68, 205, 50);
  }
}
@media screen and (max-width: 390px) {
  
  .box1 p, .box2 p, .box3 p {
    font-size: 2em;
    color: rgb(68, 205, 50);
  }
}