@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

#root {
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  color: rgb(173, 230, 219);
  height: 100vh;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/sky3.jpg);
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}

.home {
  display: flex;
  justify-content: space-evenly;
}

.box {
  font-size: 1.5em;
}

.form {
  height: 20rem;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form input {
  border-radius: 10px;
  text-align: center;
  margin: 0.5rem;
}

.form textarea {
  display: block;
  width: 25rem;
  height: 5rem;
  border-radius: 10px;
  text-align: center;
  margin: 0.5rem;
}

.form Button {
  width: 10rem;
  background-color: white;
  font-size: 1em;
  border-radius: 10px;
}

.hallo {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Berkshire Swash", cursive;
  color: rgb(136, 244, 221);
  text-decoration: underline;
}

.text {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Berkshire Swash", cursive;
  color: rgb(0, 255, 200);
}

p {
  font-size: 2rem;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #000000;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: bold;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: 15px;
  left: 15px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

footer{
  width: 100vw;
  height: 100px;
  margin-bottom: auto;
 position: fixed;
 bottom: 0;
 
}

.footerImg {
  width: 5rem;
  box-shadow: none;
  cursor: pointer;
  position: fixed;
  right: 1rem;
}

.allProjects {
  margin: 3rem;
  display: flex;
  justify-content: space-between;
}
.project {
  font-style: italic;
  font-size: 1.5rem;
}
.project:hover {
  color: #00ff95;
}

@media screen and (max-width: 390px){
  .home{
    display: flex;
    flex-direction: column;
  }
  .hallo{
    font-size: 1.5em;
  }
  .text{
    font-size: 1em;
  }
  .project{
    font-size: 1em;
  }
  .form textarea{
    width: 15rem;
  }
}
@media screen and (max-width: 530px) {
  .home{
    display: flex;
    flex-direction: column;
  }
  .hallo{
    font-size: 2em;
  }
  .text{
    font-size: 1.5em;
  }
  .form textarea{
    width: 18rem;
  }
}

